<scroll-view scroll-y='true'  class="page">
  <view class="bshaw custom" style="margin-top: 0;margin-bottom:50rpx;" wx:for='{{report}}' wx:key='*this' data-t="{{item.status}}" data-quantity='{{item.quantity}}' data-score='{{item.score}}' bindtap="navto">
    <view style="display:inline-block;">
      <view style="font-size:28rpx;color:#ACABB0;">提交时间 {{item.createdDate}}</view>
      <view class="fontW" style="color:#161616;font-size:32rpx;">{{item.name}}</view>
    </view>
    <view class="floR over" style="color:{{item.status=='UNPARSED'? '#FF0000':'#2379FE'}};">{{item.status=='UNPARSED'? '未出结果':'已出结果'}}</view>
  </view>
</scroll-view>