.page {
  width: 100%;
  height: 100%;
  background: white;
  padding: 0 28rpx;
  box-sizing: border-box;
}
.conterBox {
  height: 248rpx;
  background: white;
  border-radius: 20rpx;
  padding: 38rpx 40rpx 52rpx;
  box-sizing: border-box;
  color: #121212;
  position: relative;
  margin-top:36rpx;
}

.sex {
  width: 80rpx;
  height: 34rpx;
  border-radius: 10rpx;
  display: inline-block;
  background: white;
  font-size: 24rpx;
  text-align: center;
  position: relative;
  vertical-align: middle;
}
.card{
  width: 100%;
  font-size: 24rpx;
  text-align: left;
  line-height: 44rpx;
  margin-top: 40rpx;
  color: #999999;
}
.card>view{
  display: inline-block;
  text-align: center;
  margin-right: 156rpx;
}
.su{
  font-size: 26rpx;
  color: #121212;
}