page {
  background: #fff;
  font-size: 32rpx;
}

.container {
  padding: 0 60rpx;
}

.wechatapp {
  padding: 80rpx 0 48rpx;
  border-bottom: 1rpx solid #e3e3e3;
  margin-bottom: 72rpx;
  text-align: center;
}

.wechatapp .header {
  width: 190rpx;
  height: 190rpx;
  border: 2px solid #fff;
  margin: 0rpx auto 0;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 1px 0px 5px rgba(50, 50, 50, 0.3);
}

.auth-title {
  color: #585858;
  font-size: 40rpx;
  margin-bottom: 40rpx;
  text-align: center;
}

.auth-subtitle {
  color: #888;
  margin-bottom: 88rpx;
  text-align: center;
}

.login-btn {
  border: none;
  background: #04be01;
  color: #fff;
  font-size: 11pt;
  border-radius: 999rpx;
}

.login-btn::after {
  display: none;
}

.login-btn.button-hover {
  box-shadow: inset 0 5rpx 30rpx rgba(0, 0, 0, 0.15);
}
