.page {
  height: 100%;
  overflow: auto;
}

.head {
  background: white;
  width: 100%;
  padding: 8% 40rpx 6% 40rpx;
  box-sizing: border-box;
}

.userinfo-avatar {
  width: 66rpx;
  margin: 20rpx;
}

.banner {
  width: 100%;
  margin-top: 48rpx;
  position: relative;
}

.banner image {
  width: 100%;
}

.banner_text {
  position: absolute;
  top: 0;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
  padding: 64rpx 30rpx;
  box-sizing: border-box;
  margin-top: 20rpx;
  background-color: white;
}

.content>view:first-child {
  display: flex;
  flex-direction: row;
}

.content view image {
  width: 100%;
}

.ic {
  width: 50rpx;
  height: 50rpx;
  border-radius: 50%;
  font-size: 20rpx;
  display: inline-block;
  line-height: 50rpx;
  text-align: center;
  color: white;
}

.list {
  margin-left: 12rpx;
  border-bottom: 1rpx solid #d2d2d2;
  margin-top: 26rpx;
}

.list_text {
  font-size: 28rpx;
  color: #9c9c9c;
  height: 100%;
  vertical-align: bottom;
  display: inline-block;
  margin-left: 16rpx;
}

.ctime {
  color: #d1d1d1;
  font-size: 26rpx;
  margin: 20rpx 0 30rpx 0;
}
