<view class="page">
  <view style="width:100%;height:150rpx;overflow:hidden;">
    <view class="floL">
      <view class="fontW" style="font-size:42rpx;margin-bottom:24rpx;">{{MemberInfo.userInfo.nickName}}</view>
      <view>
        <!-- <text class="textBox fontW">已实名</text> -->
        <text class="textBox fontW">已检测{{familyInfo}}人</text>
      </view>
    </view>
    <image src="{{MemberInfo.userInfo.avatarUrl}}" style="width:150rpx;border-radius:50%;" mode="widthFix" class="floR"></image>
  </view>
  <view class="bshaw">
    <view style="font-size:30rpx;line-height:60rpx;" bindtap="gotmember">
      <image src="/images/icon/member.png" mode="widthFix" style="width:34rpx;margin-top: 16rpx;" class="floL"></image>
      <text class="fontW" style="margin-left:18rpx;">家庭成员</text>
      <image src="/images/icon/r.png" mode="widthFix" style="width:28rpx;margin-top: 16rpx;" class="floR"></image>
    </view>
    <view style="width:94%;background:#EDEDED;height:2rpx;margin-left:3%;margin-top:14rpx;"></view>
    <view class="swiperBox">
      <swiper indicator-dots="{{indicatorDots}}" autoplay="{{autoplay}}" interval="{{interval}}" duration="{{duration}}" indicator-color='#CAE0FF' indicator-active-color='#7EB3FE'>
        <block wx:for="{{list}}" wx:key="*this">
          <swiper-item>
            <view class="conterBox">
              <view>
                <text style="font-size:30rpx;margin-right:14rpx;">{{item.name}}</text>
                <view class="sex" style="color: {{item.sex==0? '#2AA1DF':'#fda8c2'}};">
                  <image src="{{item.sex==0? '/images/icon/m.png':'/images/icon/w.png'}}" mode="widthFix" style="width:28rpx;position: absolute;left:10rpx;top:2rpx;"></image>
                  <text style="position: absolute;right:14rpx;top:0rpx;">{{item.age}}</text>
                </view>
              </view>
              <view class="card">
                <view>
                  <view>药物过敏</view>
                  <view class="su"> {{item.allergic? '有':'无'}}</view>
                </view>
                <view>
                  <view>健康档案</view>
                  <view class="su"> {{item.record? item.record:'100%'}}</view>
                </view>
                <view style="margin:0;">
                  <view>脊柱健康</view>
                  <view class="su">{{item.status=="PARSED"? '已检测':'检测中'}}</view>
                </view>
              </view>
              <image src="/images/icon/bj.png" mode="widthFix" style="width:34rpx;position: absolute;right:40rpx;top:52rpx;" bindtap="compile" data-patientId='{{item.patientId}}'></image>
            </view>
          </swiper-item>
        </block>
      </swiper>
    </view>
    <view style="text-align:center;font-size:26rpx;color:#666666;margin-top:20rpx;" bindtap="addmember">+新增家庭成员</view>
    <view>
    </view>
  </view>
  <view class="bshaw" style="padding-top:50rpx;padding-bottom:50rpx;margin-top:32rpx;" bindtap="examine">
    <view style="font-size:30rpx;line-height:30rpx;">
      <image src="/images/icon/check.png" mode="widthFix" style="width:34rpx;" class="floL"></image>
      <text class="fontW" style="margin-left:18rpx;">历史检测</text>
      <image src="/images/icon/r.png" mode="widthFix" style="width:28rpx;" class="floR"></image>
    </view>
  </view>
  <view class="bshaw" style="padding-top:50rpx;padding-bottom:50rpx;margin-top:32rpx;">
    <view style="font-size:30rpx;line-height:30rpx;">
      <image src="/images/icon/set.png" mode="widthFix" style="width:34rpx;" class="floL"></image>
      <text class="fontW" style="margin-left:18rpx;">设置</text>
      <image src="/images/icon/r.png" mode="widthFix" style="width:28rpx;" class="floR"></image>
    </view>
  </view>
</view>