<view class='page'>
  <view style="width:90%;margin-left:5%;">
    <view class="bshaw">
      <view style="font-size:24rpx;color:#333333;">拍照说明：</view>
      <view class="fontW" style="font-size:28rpx;color:#333333;margin-top:6rpx;margin-bottom:50rpx;">需要上传以下的五张照片才能进行准确分析。</view>
      <view style="position: relative;">
        <view wx:for='{{src}}' wx:key='{{index}}' class="imgbox" bindtap="navcamera" data-index="{{index}}">
          <image src='{{item}}' mode="widthFix" style="width:100%;"></image>
        </view>
        <text class="imgboxs" bindtap="shili" data-index="8">
          拍摄动作示例 >
        </text>
      </view>
    </view>
  </view>
  <button class="next" bindtap="next">下一步</button>
</view>